{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink() }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
</form>

<form action="{{ oViewConf.getSelfLink() }}" method="POST">
    {{ oViewConf.getHiddenSid()|raw }}

    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
    <input type="hidden" name="fnc" value="saveData">

    <div class="form-group">
        <label for="measurement">Measurement:</label>
        <select id="measurement" name="measurement">
            {% for key, value in measurementOptions %}
                <option value="{{ key }}" data-default="{{ value }}"
                        {% if measurement.getFormat() == key %}selected{% endif %}>{{ translate({ ident: key }) }}</option>
            {% endfor %}
        </select>

        <label for="measurementValues">Values:</label>
        <input type="text" id="measurementValues" name="measurementValues" value="{{ measurement.getValues() }}">
    </div>

    <script>
        let measurementObject = document.getElementById('measurement');
        measurementObject.addEventListener('change', function () {
            var selected = this.options[this.selectedIndex];
            document.getElementById('measurementValues').value = selected.getAttribute('data-default');
        });
        if (!document.getElementById('measurementValues').value) {
            measurementObject.dispatchEvent(new Event('change'));
        }
    </script>

    <div class="form-group">
        <label for="calories">Calories (kCal)</label>
        <input type="text" id="calories" name="nutritionFacts[calories]" value="{{ nutritionFacts.getCalories() }}">
    </div>

    <div class="form-group">
        <label for="totalFat">Total Fat</label>
        <input type="text" id="totalFat" name="nutritionFacts[totalFat]" value="{{ nutritionFacts.getTotalFat() }}">
    </div>

    <div class="form-group">
        <label for="saturatedFat">Saturated Fat</label>
        <input type="text" id="saturatedFat" name="nutritionFacts[saturatedFat]"
               value="{{ nutritionFacts.getSaturatedFat() }}">
    </div>

    <div class="form-group">
        <label for="transFat">Trans Fat</label>
        <input type="text" id="transFat" name="nutritionFacts[transFat]" value="{{ nutritionFacts.getTransFat() }}">
    </div>

    <div class="form-group">
        <label for="carbohydrates">Carbohydrates</label>
        <input type="text" id="carbohydrates" name="nutritionFacts[carbohydrates]"
               value="{{ nutritionFacts.getCarbohydrates() }}">
    </div>

    <div class="form-group">
        <label for="fibre">Fibre</label>
        <input type="text" id="fibre" name="nutritionFacts[fibre]" value="{{ nutritionFacts.getFibre() }}">
    </div>

    <div class="form-group">
        <label for="sugars">Sugars</label>
        <input type="text" id="sugars" name="nutritionFacts[sugars]" value="{{ nutritionFacts.getSugars() }}">
    </div>

    <div class="form-group">
        <label for="protein">Protein</label>
        <input type="text" id="protein" name="nutritionFacts[protein]" value="{{ nutritionFacts.getProtein() }}">
    </div>

    <div class="form-group">
        <label for="cholesterol">Cholesterol</label>
        <input type="text" id="cholesterol" name="nutritionFacts[cholesterol]"
               value="{{ nutritionFacts.getCholesterol() }}">
    </div>

    <div class="form-group">
        <label for="sodium">Sodium</label>
        <input type="text" id="sodium" name="nutritionFacts[sodium]" value="{{ nutritionFacts.getSodium() }}">
    </div>

    <div><input type="submit" name="saveData" value="{{ translate({ ident: "FA_NUTRITION_FACTS_FORM_SAVE" }) }}"></div>
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
