{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink() }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
</form>

<form action="{{ oViewConf.getSelfLink() }}" method="POST">
    {{ oViewConf.getHiddenSid()|raw }}

    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
    <input type="hidden" name="fnc" value="saveData">

    <div class="form-group">
        <label for="calories">Calories</label>
        <input type="text" id="calories" name="nutritionFacts[calories]">
    </div>

    <div class="form-group">
        <label for="totalFat">Total Fat (g)</label>
        <input type="text" id="totalFat" name="nutritionFacts[totalFat]">
    </div>

    <div class="form-group">
        <label for="saturatedFat">Saturated Fat (g)</label>
        <input type="text" id="saturatedFat" name="nutritionFacts[saturatedFat]">
    </div>

    <div class="form-group">
        <label for="transFat">Trans Fat (g)</label>
        <input type="text" id="transFat" name="nutritionFacts[transFat]">
    </div>

    <div class="form-group">
        <label for="carbohydrates">Carbohydrates (g)</label>
        <input type="text" id="carbohydrates" name="nutritionFacts[carbohydrates]">
    </div>

    <div class="form-group">
        <label for="fibre">Fibre (g)</label>
        <input type="text" id="fibre" name="nutritionFacts[fibre]">
    </div>

    <div class="form-group">
        <label for="sugars">Sugars (g)</label>
        <input type="text" id="sugars" name="nutritionFacts[sugars]">
    </div>

    <div class="form-group">
        <label for="protein">Protein (g)</label>
        <input type="text" id="protein" name="nutritionFacts[protein]">
    </div>

    <div class="form-group">
        <label for="cholesterol">Cholesterol (mg)</label>
        <input type="text" id="cholesterol" name="nutritionFacts[cholesterol]">
    </div>

    <div class="form-group">
        <label for="sodium">Sodium (mg)</label>
        <input type="text" id="sodium" name="nutritionFacts[sodium]">
    </div>

    <div><input type="submit" name="saveData" value="{{ translate({ ident: "some button" }) }}"></div>
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
