{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink() }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
</form>

<form action="{{ oViewConf.getSelfLink() }}" method="POST">
    {{ oViewConf.getHiddenSid()|raw }}

    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
    <input type="hidden" name="fnc" value="saveData">

    <input type="hidden" name="nutrition_facts[product_id]" value="{{ oxid }}">
    <div>Energy: <input type="text" name="nutrition_facts[ri_energy]"></div>
    <div>Total fat: <input type="text" name="nutrition_facts[ri_total_fat]"></div>
    <div>Saturates: <input type="text" name="nutrition_facts[ri_saturates]"></div>
    <div>Carbohydrates: <input type="text" name="nutrition_facts[ri_carbohydrates]"></div>
    <div>Sugars: <input type="text" name="nutrition_facts[ri_sugars]"></div>
    <div>Protein: <input type="text" name="nutrition_facts[ri_protein]"></div>
    <div>Salt: <input type="text" name="nutrition_facts[ri_salt]"></div>

    <div><input type="submit" name="saveData" value="{{ translate({ ident: "some button" }) }}"></div>
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
