{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink() }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
</form>

<form action="{{ oViewConf.getSelfLink() }}" method="POST">
    {{ oViewConf.getHiddenSid()|raw }}

    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="fa_nutrition_facts_admin">
    <input type="hidden" name="fnc" value="saveData">

    <textarea rows="25" cols="120" name="facts">{{ nutrition_facts }}</textarea>
    <div><input type="submit" name="saveData" value="{{ translate({ ident: "some button" }) }}"></div>
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
